{% extends "PTRORencontresBundle::layout_global.html.twig" %}

{% form_theme form 'PTRORencontresBundle:Form:form_error.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.css') }}" />
{% endblock %}

{% block contenu %}
    {% if flow.getCurrentStepNumber() == 1 %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 conteneur">
                <!--<h1 class="center">Inscription - étape 1/4</h1>-->
                <h3 class="center">
                    {% include 'PTRORencontresBundle:FormFlow:stepList_content.html.twig' %}
                </h3>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <!--<form class="form-horizontal">-->
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.email) }}</div>
                    {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.username) }}</div>
                    {{ form_label(form.username, "Pseudonyme", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.plainPassword.first) }}</div>
                    {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.plainPassword.second) }}</div>
                    {{ form_label(form.plainPassword.second, "Mot de passe à nouveau", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {% include 'PTRORencontresBundle:FormFlow:buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn',
                    } %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% elseif flow.getCurrentStepNumber() == 2 %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 conteneur">
                <!--<h1 class="center">Inscription - étape 1/4</h1>-->
                <h3 class="center">
                    {% include 'PTRORencontresBundle:FormFlow:stepList_content.html.twig' %}
                </h3>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <!--<form class="form-horizontal">-->
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.genre) }}</div>
                    {{ form_label(form.genre, "Genre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.relation) }}</div>
                    {{ form_label(form.relation, "Relation souhaitée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.relation, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.orientation) }}</div>
                    {{ form_label(form.orientation, "Orientation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.orientation, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.etatCivil) }}</div>
                    {{ form_label(form.etatCivil, "Etat civil", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.etatCivil, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.dateNaissance) }}</div>
                    {{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        <div class='input-group date'>
                            {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control datetimepicker', 'placeholder': 'jj/mm/aaaa'}}) }}
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.emploi) }}</div>
                    {{ form_label(form.emploi, "Emploi", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.emploi, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.departement) }}</div>
                    {{ form_label(form.departement, "Département", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.departement, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {% include 'PTRORencontresBundle:FormFlow:buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn',
                    } %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% elseif flow.getCurrentStepNumber() == 3 %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 conteneur">
                <!--<h1 class="center">Inscription - étape 1/4</h1>-->
                <h3 class="center">
                    {% include 'PTRORencontresBundle:FormFlow:stepList_content.html.twig' %}
                </h3>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <!--<form class="form-horizontal">-->
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.physique) }}</div>
                    {{ form_label(form.physique, "Physique", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.physique, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.taille) }}</div>
                    {{ form_label(form.taille, "Taille (cm)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.taille, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.poids) }}</div>
                    {{ form_label(form.poids, "Poids (kg)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.poids, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.couleurYeux) }}</div>
                    {{ form_label(form.couleurYeux, "Couleur des yeux", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.couleurYeux, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.couleurCheveux) }}</div>
                    {{ form_label(form.couleurCheveux, "Couleur des cheveux", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.couleurCheveux, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {% include 'PTRORencontresBundle:FormFlow:buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn',
                    } %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% elseif flow.getCurrentStepNumber() == 4 %}
        {% form_theme form.hobbies 'Form/inputs.html.twig' %}
        {% form_theme form.sports 'Form/inputs.html.twig' %}
        {% form_theme form.qualites 'Form/inputs.html.twig' %}
        {% form_theme form.defauts 'Form/inputs.html.twig' %}
        {% form_theme form.cigarette 'Form/radio.html.twig' %}
        {% form_theme form.alcool 'Form/radio.html.twig' %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 conteneur">
                <!--<h1 class="center">Inscription - étape 1/4</h1>-->
                <h3 class="center">
                    {% include 'PTRORencontresBundle:FormFlow:stepList_content.html.twig' %}
                </h3>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <!--<form class="form-horizontal">-->
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.hobbies) }}</div>
                    {{ form_label(form.hobbies, "Hobbies", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.hobbies) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.sports) }}</div>
                    {{ form_label(form.sports, "Sports pratiqués", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.sports) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.qualites) }}</div>
                    {{ form_label(form.qualites, "Qualités", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.qualites) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.defauts) }}</div>
                    {{ form_label(form.defauts, "Défauts", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.defauts) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.alcool) }}</div>
                    <label class="col-sm-3 control-label">Alcool</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.alcool, {'attr': {'class': 'btn-group','data-toggle': 'buttons'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.cigarette) }}</div>
                    <label class="col-sm-3 control-label">Cigarette</label>
                    <div class="col-sm-9 ">
                        {{ form_widget(form.cigarette, {'attr': {'class': 'btn-group','data-toggle': 'buttons'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {% include 'PTRORencontresBundle:FormFlow:buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn',
                    } %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% elseif flow.getCurrentStepNumber() == 5 %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 conteneur">
                <!--<h1 class="center">Inscription - étape 1/4</h1>-->
                <h3 class="center">
                    {% include 'PTRORencontresBundle:FormFlow:stepList_content.html.twig' %}
                </h3>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <!--<form class="form-horizontal">-->
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.titre) }}</div>
                    {{ form_label(form.titre, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 red height bold">{{ form_errors(form.description) }}</div>
                    {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {% include 'PTRORencontresBundle:FormFlow:buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn',
                    } %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    {% else %}
        <div>
            Steps:
            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}


        {{ form_rest(form) }}

        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block javascript %}
    {% if flow.getCurrentStepNumber() == 2 %}
        <script type="text/javascript" src="{{ asset('js/moment-with-locales.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/transition.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/collapse.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({
                    viewMode: 'years',
                    format: 'DD/MM/YYYY'
                });
            });
        </script>
    {% endif %}
    {% if flow.getCurrentStepNumber() == 4 %}
        <script type="text/javascript">
            $(document).ready(function() {
                var $container = $('div#app_user_registration_hobbies');
                var $prototype_1 = $($container.attr('data-prototype').replace(/__name__/g, 1)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_2 = $($container.attr('data-prototype').replace(/__name__/g, 2)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_3 = $($container.attr('data-prototype').replace(/__name__/g, 3)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_4 = $($container.attr('data-prototype').replace(/__name__/g, 4)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                if(($container.html()) == ''){
                    $container.append($prototype_1).append($prototype_2).append($prototype_3).append($prototype_4);
                }


                var $container = $('div#app_user_registration_sports');
                var $prototype_1 = $($container.attr('data-prototype').replace(/__name__/g, 1)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_2 = $($container.attr('data-prototype').replace(/__name__/g, 2)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_3 = $($container.attr('data-prototype').replace(/__name__/g, 3)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_4 = $($container.attr('data-prototype').replace(/__name__/g, 4)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                if(($container.html()) == ''){
                    $container.append($prototype_1).append($prototype_2).append($prototype_3).append($prototype_4);
                }
                var $container = $('div#app_user_registration_qualites');
                var $prototype_1 = $($container.attr('data-prototype').replace(/__name__/g, 1)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_2 = $($container.attr('data-prototype').replace(/__name__/g, 2)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_3 = $($container.attr('data-prototype').replace(/__name__/g, 3)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_4 = $($container.attr('data-prototype').replace(/__name__/g, 4)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                if(($container.html()) == ''){
                    $container.append($prototype_1).append($prototype_2).append($prototype_3).append($prototype_4);
                }
                var $container = $('div#app_user_registration_defauts');
                var $prototype_1 = $($container.attr('data-prototype').replace(/__name__/g, 1)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_2 = $($container.attr('data-prototype').replace(/__name__/g, 2)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_3 = $($container.attr('data-prototype').replace(/__name__/g, 3)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                var $prototype_4 = $($container.attr('data-prototype').replace(/__name__/g, 4)).attr('size', '15').addClass('form-control').css('width','initial').css('display','inline');
                if(($container.html()) == ''){
                    $container.append($prototype_1).append($prototype_2).append($prototype_3).append($prototype_4);
                }
            });
        </script>
    {% endif %}
{% endblock %}


