{% extends "PTRORencontresBundle::layout_global.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block contenu %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 conteneur_principal3 bottom">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
            {# {{ form_widget(form) }} #}
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 red height bold">{{ form_errors(form.current_password) }}</div>
                {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 red height bold">{{ form_errors(form.plainPassword.first) }}</div>
                {{ form_label(form.plainPassword.first, "Nouveau mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 red height bold">{{ form_errors(form.plainPassword.second) }}</div>
                {{ form_label(form.plainPassword.second, "Répéter le nouveau mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}