{% extends "PTRORencontresBundle::layout_global.html.twig" %}

{% block contenu %}
	<!-- Page Content -->
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="row conteneur_erreur bottom center">
					Pour envoyer des messages vous devez être inscrit et connecté!
				</div>
				<div class="row conteneur_principal conteneur_principal_recherche bottom">
					<div class="col-md-3 col-xs-12 center">
						<!-- Large modal -->
						<!-- <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->
						<div class="row">
                            {% for photo in photos %}
							<div class="col-xs-4 {% if loop.index == 1%} col-md-12 {% else %} col-md-6 {% endif %}">
								<a href="#" class="thumbnail inline-block" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="$('.carousel-inner > div').removeClass('active');$('#photo{{ loop.index }}').addClass('active');">
									<img src="{{ asset(photo.webPathMedium )}}" alt="...">
								</a>
							</div>
							{% endfor %}
							<div class="col-xs-12 bottom3">
								<button class="btn btn-primary width100" onclick="favoriConfirm()">  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Ajouter aux favoris </button>
								<form id="form_favori" action="favori.php">
									<input type="hidden" name="favori" value="favori">
								</form>
							</div>
							<div class="col-xs-12 bottom3">
								<button class="btn btn-primary width100"  data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-envelope" aria-hidden="true" ></span> Envoyer un message </button>
							</div>
							<div class="col-xs-12 bottom3">
								<button class="btn btn-primary width100" onclick="pokeConfirm()"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Envoyer un poke </button>
								<form id="form_poke" action="poke.php">
									<input type="hidden" name="poke" value="poke">
								</form>
							</div>
							<div class="col-xs-12 bottom3">
								<button class="btn btn-danger width100" onclick="bloquerConfirm()"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Bloquer </button>
								<form id="form_bloquer" action="bloquer.php">
									<input type="hidden" name="bloquer" value="bloquer">
								</form>
							</div>
							<div class="col-xs-12 bottom3">
								<button class="btn btn-danger width100" onclick="signalerConfirm()"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Signaler </button>
								<form id="form_signaler" action="signaler.php">
									<input type="hidden" name="signaler" value="signaler">
								</form>
							</div>
						</div><!-- Button trigger modal -->

						<!-- Modal Message-->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Envoyer un message</h4>
									</div>
									<div class="modal-body left10">
										<form class="form-horizontal" id="form_message" action="test.php">
											<div class="form-group" id="objet_form_group">
												<label for="Objet" class="col-sm-2 control-label">Objet *</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="Objet" onkeypress="$('#objet_form_group').removeClass('has-error')" >
												</div>
												<div class="col-sm-1">
												</div>
											</div>
											<div class="form-group" id="message_form_group">
												<label for="Message" class="col-sm-2 control-label">Message *</label>
												<div class="col-sm-9">
													<textarea class="form-control" id="Message" rows="3" onkeypress="$('#message_form_group').removeClass('has-error')"></textarea>
												</div>
												<div class="col-sm-1">
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
										<button type="button" class="btn btn-primary" onclick="messageConfirm()" >Envoyer le message</button>
									</div>
								</div>
							</div>
						</div>
						<!-- confirmation message -->
						<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="confirmLabel">Vous êtes sûr?</h4>
									</div>
									<div class="modal-body" id="confirmMessage">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
										<button type="button" class="btn btn-primary" onclick="confirm()">Oui</button>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div id="carousel-example-generic" class="carousel" data-ride="carousel">
										
										
										
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
                                            {% for photo in photos %}
											<div class="item" id="photo{{ loop.index }}">
												<img class="img-responsive" src="{{ asset(photo.webPathMain )}}" alt="...">
											</div>
											{% endfor %}
										</div>
										
										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left"></span>
										</a>
										<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-xs-12">
						A propos de {{ profil.username }}:<br>
						Mon slogan: {{ profil.titre }}<br>
						Ma description: {{ profil.description }}<br><br>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed">
								<tr>
									<th colspan="2" class="center">
										Informations générales
									</th>
								</tr>
								<tr>
									<th style="width:40%">
										Genre
									</th>
									<td style="width:60%">
										{{ profil.genre.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Âge
									</th>
									<td>
										{{ profil.age }}
									</td>
								</tr>
								<tr>
									<th>
										Taille
									</th>
									<td>
										{{ profil.taille }}
									</td>
								</tr>
								<tr>
									<th>
										Poids
									</th>
									<td>
										{{ profil.poids }}
									</td>
								</tr>
								<tr>
									<th>
										Silhouette
									</th>
									<td>
										{{ profil.physique.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Yeux
									</th>
									<td>
										{{ profil.couleurYeux.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Cheveux
									</th>
									<td>
										{{ profil.couleurCheveux.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Etat civil
									</th>
									<td>
										{{ profil.etatCivil.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Relation souhaitée
									</th>
									<td>
										{{ profil.relation.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Orientation
									</th>
									<td>
										{{ profil.orientation.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Emploi
									</th>
									<td>
										{{ profil.emploi }}
									</td>
								</tr>
								<tr>
									<th>
										Région / Département / Ville
									</th>
									<td>
										{{ profil.departement.region.nom }} / {{ profil.departement.nom }}
									</td>
								</tr>
								<tr>
									<th>
										Membre depuis
									</th>
									<td>
										{{ profil.dateCreation|date("m/d/Y") }}
									</td>
								</tr>
								<tr>
									<th>
										Vues
									</th>
									<td>
										{{ profil.vues }}
									</td>
								</tr>
								<tr>
									<th>
										Dernière visite
									</th>
									<td>
										{{ profil.lastLogin|date("m/d/Y") }}
									</td>
								</tr>
							</table>
						</div><br>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed">
								<tr>
									<th colspan="2" class="center">
										Style de vie
									</th>
								</tr>
								<tr>
									<th style="width:40%">
										Hobbie(s)
									</th>
									<td style="width:60%">
                                        {% for hobbie in profil.hobbies %}
                                            {% if hobbie is not empty %}
                                                {{ hobbie }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
								<tr>
									<th>
										sport(s) pratiqué(s)
									</th>
									<td>
                                        {% for sport in profil.sports %}
                                            {% if sport is not empty %}
                                                {{ sport }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
								<tr>
									<th>
										Qualité(s)
									</th>
									<td>
                                        {% for qualite in profil.qualites %}
                                            {% if qualite is not empty %}
                                                {{ qualite }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
								<tr>
									<th>
										défaut(s)
									</th>
									<td>
                                        {% for defaut in profil.defauts %}
                                            {% if defaut is not empty %}
                                                {{ defaut }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
								<tr>
									<th>
										Cigarettes?
									</th>
									<td>
                                        {% if profil.cigarette.nom is defined %}
                                            {{ profil.cigarette.nom }}
                                        {% endif %}
									</td>
								</tr>
								<tr>
									<th>
										Alcool?
									</th>
									<td>
                                        {% if profil.alcool.nom is defined %}
                                            {{ profil.alcool.nom }}
                                        {% endif %}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	<!-- /.container -->
{% endblock %}	
{% block javascript%}
<script > 

	$(document).ready(function() {  
		var form = "";
	}); 
	function messageConfirm(){
		if($('#Message').val().trim() == ""){
			$('#message_form_group').addClass('has-error');
		}
		if($('#Objet').val().trim() == ""){
			$('#objet_form_group').addClass('has-error');
		}
		if($('#Objet').val().trim() != "" && $('#Message').val().trim() != "" ){
			$('#confirmMessage').text('Voulez-vous envoyer ce message à {{profil.username}}?');
			$('#confirmModal').modal('show');
			form = "message";
		}
	}
	function pokeConfirm(){
		$('#confirmMessage').text('Voulez-vous envoyer un poke à {{profil.username}}?');
		$('#confirmModal').modal('show');
		form = "poke";
	}
	function favoriConfirm(){
		$('#confirmMessage').text('Voulez-vous ajouter {{profil.username}} dans vos favoris?');
		$('#confirmModal').modal('show');
		form = "favori";
	}
	function signalerConfirm(){
		$('#confirmMessage').text('Voulez-vous signaler ce profil comme inapproprié au webmaster?');
		$('#confirmModal').modal('show');
		form = "signaler";
	}
	function bloquerConfirm(){
		$('#confirmMessage').text('Voulez-vous bloquer ce profil? Il ne pourra plus vous voir.');
		$('#confirmModal').modal('show');
		form = "bloquer";
	}
	function confirm(){
		if (form == "message") {
			$('#form_message').submit();
		}
		if (form == "poke") {
			$('#form_poke').submit();
		}
		if (form == "favori") {
			$('#form_favori').submit();
		}
		if (form == "signaler") {
			$('#form_signaler').submit();
		}
		if (form == "bloquer") {
			$('#form_bloquer').submit();
		}
	}
</script>
{% endblock %}	