{% extends "PTRORencontresBundle::layout.html.twig" %}

{% block contenu %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3 conteneur_principal conteneur_principal_recherche bottom">
				<h3 class="center bottom20">Recherche de profil</h3>
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputGenre" class="col-sm-2 control-label">Genre</label>
    					<div class="col-sm-10">
							<select class="form-control" id="inputGenre">
								<option></option>
								<option>Homme</option>
								<option>Femme</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputAgeDeb" class="col-sm-2 control-label">de</label>
    					<div class="col-sm-10">
							<select class="form-control" id="inputAgeDeb">
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputAgeFin" class="col-sm-2 control-label">à</label>
    					<div class="col-sm-10">
							<select class="form-control" id="inputAgeFin">
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPseudo" class="col-sm-2 control-label">Pseudo</label>
    					<div class="col-sm-10">
							<input class="form-control" id="inputPseudo" type="text" size="10">
						</div>
					</div>
					<div class="form-group">
						<label for="inputAgeFin" class="col-sm-2 control-label">Région</label>
    					<div class="col-sm-10">
							<select class="form-control" id="inputAgeFin">
								<option>Ile de France</option>
								<option>Paca</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputAgeFin" class="col-sm-2 control-label">Département</label>
    					<div class="col-sm-10">
							<select class="form-control" id="inputAgeFin">
								<option>Seine et Marne</option>
								<option>Essonne</option>
							</select>
						</div>
					</div>
					<div class="form-group">
	    				<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Rechercher</button>
						</div>
					</div>
				</form>
			</div>
        </div>
		<div class="row center" style="">
			<div class="col-xs-12">
				<div class="bottom2" data-toggle="buttons">
					<button class="btn btn-default {% if app.session.get('affichage') == 'vignette' %} active no-click {% endif %}" value="vignette" id="vignette">Vue vignette</button>
					<button class="btn btn-default {% if app.session.get('affichage') == 'detail' %} active no-click {% endif %}" value="detail" id="detail">Vue detail</button>
				</div>
			</div>
		</div>
		<div class="row " id="debut_profils">
			<div class="col-md-1">
			</div>
			<div id="detail_vue" class="col-md-10 conteneur_principal2 conteneur_principal_recherche top10 bottom10" {% if app.session.get('affichage') == 'vignette' %} style="display:none" {% endif %}>
				{% for profil in profils %}
				<div class="row top-bottom{% if loop.last == false %}border-bottom{% endif %}">
					<div class="col-md-3 center">
						<a class="inline-block" href="#" style="">
							<img class="img-responsive" src="{{profil.image}}" alt="">
						</a>
					</div>
					<div class="col-lg-9 col-md-9" style="">
						<p style="text-align:left;">
							<b>{{profil.pseudo}}, {{profil.age}} ans, {{profil.orientation}} {{profil.relation}} </b>
							{{profil.description}}<br>
							{{profil.ville}}, {{profil.region}} 
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<div id="vignette_vue" class="col-md-10 conteneur_principal conteneur_principal_recherche" {% if app.session.get('affichage') == 'detail' %} style="display:none" {% endif %}>
				<div class="row">	
					{% for profil in profils %}
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<a class="thumbnail" href="#">
								<img class="img-responsive" src="{{profil.image}}" alt="">
								<div class="caption post-content resize left">
									{{profil.pseudo}}, {{profil.age}} ans<br>
									{{profil.ville}}, {{profil.region}}<br> 
									{{profil.nb_photo}} photo(s)
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<nav class="center">
		  <ul class="pagination pagination-md">
			<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			<li><a href="#">2 </a></li>
			<li class="disabled"><a href="#">... </a></li>
			<li><a href="#">52 </a></li>
			<li><a href="#">53 </a></li>
			<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		  </ul>
		</nav>
		<br>
{% endblock %}	
{% block javascript %}
	<script>
		function aButtonPressed(affichage){
			$.post("{{path('ptro_maj_affichage')}}",               
						{affichage_vue: affichage}, 
					function(response){
							if(response.code == 100 && response.success){
							//Aucune action particulière à executer
							}

			}, "json");  
		}
		$(document).ready(function() {
		    var offset = $("#debut_profils").offset().top 
		    $('html, body').animate({scrollTop: offset}, 'slow');   
			$('button').click( 
			function(){
				$('button').removeClass('active no-click');
				$('#'+(this.value)).addClass('active no-click');
				if(this.value == 'detail'){
					$('#vignette_vue').hide();
					$('#detail_vue').show();
				}
				if(this.value == 'vignette'){
					$('#vignette_vue').show();
					$('#detail_vue').hide();
				}
		  aButtonPressed(this.value);});
		});
	</script>
{% endblock %}