{% extends "PTRORencontresBundle::layout_global.html.twig" %}

{% block contenu %}
	<!-- Page Content -->
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div class="row conteneur_erreur bottom center">
					Pour envoyer des messages, des pokes, etc. vous devez être inscrit et connecté!
				</div>
				{% endif %}
				<div class="row conteneur_principal conteneur_principal_recherche bottom">
					<div class="col-md-3 col-xs-12 center">
						<!-- Large modal -->
						<!-- <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->
						<div class="row">
                            {% for photo in photos %}
							<div class="col-xs-4 {% if loop.index == 1%} col-md-12 {% else %} col-md-6 {% endif %}">
								<a href="#" class="thumbnail inline-block" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="$('.carousel-inner > div').removeClass('active');$('#photo{{ loop.index }}').addClass('active');">
									<img src="{{ asset(photo.webPathMedium )}}" alt="...">
								</a>
							</div>
							{% endfor %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<div id="boutons_a_bloquer" style="{% if bloquer == 1 %}display:none;{% endif %}" >
									<div class="col-xs-12 bottom3">
										<button class="btn btn-primary width100" onclick="favoriConfirm()">  <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span id="favori_texte"> {% if favori == 0 %}Ajouter à vos favoris{% else %}Enlever de vos favoris{% endif %} </span></button>
										<!--<form id="form_favori" action="favori.php">
											<input type="hidden" name="favori" value="favori">
										</form>-->
									</div>
									<div class="col-xs-12 bottom3">
										<button class="btn btn-primary width100"  data-toggle="modal" data-target="#myModal" onclick="$('#objet_error').html('');$('#contenu_error').html('')"> <span class="glyphicon glyphicon-envelope" aria-hidden="true" ></span> Envoyer un message </button>
									</div>
									<div class="col-xs-12 bottom3">
										<button class="btn btn-primary width100" onclick="pokeConfirm()"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Envoyer un poke </button>
										<!--<form id="form_poke" action="poke.php">
											<input type="hidden" name="poke" value="poke">
										</form>-->
									</div>
								</div>
								<div class="col-xs-12 bottom3">
									<button class="btn btn-danger width100" onclick="bloquerConfirm()"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span><span id="blocage_texte"> {% if bloquer == 0 %}Bloquer ce profil{% else %}Débloquer ce profil{% endif %} </span></button>
									<!--<form id="form_bloquer" action="bloquer.php">
										<input type="hidden" name="bloquer" value="bloquer">
									</form>-->
								</div>
								<div class="col-xs-12 bottom3">
									<button class="btn btn-danger width100"  data-toggle="modal" data-target="#myModalSignalement" onclick="$('#message_error').html('');"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ></span> Signaler ce profil </button>
									<!--<form id="form_signaler" action="signaler.php">
										<input type="hidden" name="signaler" value="signaler">
									</form>-->
								</div>
							{% else %}
								<div class="col-xs-12 bottom3">
									<button class="btn btn-primary width100" onclick="$('#nopModal').modal('show');">  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Ajouter aux favoris </button>
								</div>
								<div class="col-xs-12 bottom3">
									<button class="btn btn-primary width100"  onclick="$('#nopModal').modal('show');"> <span class="glyphicon glyphicon-envelope" aria-hidden="true" ></span> Envoyer un message </button>
								</div>
								<div class="col-xs-12 bottom3">
									<button class="btn btn-primary width100" onclick="$('#nopModal').modal('show');"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Envoyer un poke </button>
								</div>
								<div class="col-xs-12 bottom3">
									<button class="btn btn-danger width100" onclick="$('#nopModal').modal('show');"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Bloquer </button>
								</div>
								<div class="col-xs-12 bottom3">
									<button class="btn btn-danger width100" onclick="$('#nopModal').modal('show');"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Signaler </button>
								</div>
							{% endif %}
						</div><!-- Button trigger modal -->

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<!-- Modal Message-->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Envoyer un message</h4>
									</div>
									{{ form_start(formMessage, {'attr': {'class': 'form-horizontal'}, 'action': path('ptro_rencontres_message_ajax')}) }}
									<div class="modal-body left10">
										<div class="form-group">
											<div class="col-sm-3"></div>
											<div class="col-sm-9 red height bold" id="objet_error"></div>
											{{ form_label(formMessage.objet, "Objet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
											<div class="col-sm-9">
												{{ form_widget(formMessage.objet, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3"></div>
											<div class="col-sm-9 red height bold" id="contenu_error"></div>
											{{ form_label(formMessage.contenu, "Contenu", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
											<div class="col-sm-9">
												{{ form_widget(formMessage.contenu, {'attr': {'class': 'form-control'}}) }}
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
										<button type="button" class="btn btn-primary" id="submitMessage" data-loading-text="Attendez svp..." autocomplete="off">Envoyer le message</button>
									</div>
                                    {{ form_rest(formMessage) }}
                                    {{ form_end(formMessage) }}
								</div>
							</div>
						</div>
							<!-- Modal Signalement-->
							<div class="modal fade" id="myModalSignalement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Signaler ce profil au webmaster</h4>
										</div>
                                        {{ form_start(formSignalement, {'attr': {'class': 'form-horizontal'}, 'action': path('ptro_rencontres_signaler_ajax')}) }}
										<div class="modal-body left10">
											<div class="form-group">
												<div class="col-sm-3"></div>
												<div class="col-sm-9 red height bold" id="message_error"></div>
                                                {{ form_label(formSignalement.message, "Message", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
												<div class="col-sm-9">
                                                    {{ form_widget(formSignalement.message, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
											<button type="button" class="btn btn-danger" id="submitSignalement" data-loading-text="Attendez svp..." autocomplete="off">Envoyer le signalement</button>
										</div>
                                        {{ form_rest(formSignalement) }}
                                        {{ form_end(formSignalement) }}
									</div>
								</div>
							</div>
                        {% endif %}
						<!-- confirmation message -->
						<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="confirmLabel">Vous êtes sûr?</h4>
									</div>
									<div class="modal-body" id="confirmMessage">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
										<button type="button" class="btn btn-primary" onclick="confirm()" id="submitAutreActions" data-loading-text="Attendez svp..." >Oui</button>
									</div>
								</div>
							</div>
						</div>
						<!-- nop message -->
						<div class="modal fade" id="nopModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body">
										Pour interagir avec {{profil.username}} vous devez être inscrit et connecté.
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
									</div>
								</div>
							</div>
						</div>
						<!-- success message -->
						<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-body" id="success_contenu">
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div id="carousel-example-generic" class="carousel" data-ride="carousel">
										
										
										
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
                                            {% for photo in photos %}
											<div class="item" id="photo{{ loop.index }}">
												<img class="img-responsive" src="{{ asset(photo.webPathMain )}}" alt="...">
											</div>
											{% endfor %}
										</div>
										
										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left"></span>
										</a>
										<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-xs-12">
						A propos de {{ profil.username }}:<br>
						Mon slogan: {{ profil.titre }}<br>
						Ma description: {{ profil.description }}<br><br>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed">
								<tr>
									<th colspan="2" class="center">
										Informations générales
									</th>
								</tr>
								{% if profil.genre.nom is not empty %}
								<tr>
									<th style="width:40%">
										Genre
									</th>
									<td style="width:60%">
										{{ profil.genre.nom }}
									</td>
								</tr>
								{% endif %}
                                {% if profil.age is not empty %}
								<tr>
									<th>
										Âge
									</th>
									<td>
										{{ profil.age }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.taille is not empty %}
								<tr>
									<th>
										Taille
									</th>
									<td>
										{{ profil.taille }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.poids is not empty %}
								<tr>
									<th>
										Poids
									</th>
									<td>
										{{ profil.poids }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.physique.nom is not empty %}
								<tr>
									<th>
										Silhouette
									</th>
									<td>
										{{ profil.physique.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.couleurYeux.nom is not empty %}
								<tr>
									<th>
										Yeux
									</th>
									<td>
										{{ profil.couleurYeux.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.couleurCheveux.nom is not empty %}
								<tr>
									<th>
										Cheveux
									</th>
									<td>
										{{ profil.couleurCheveux.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.etatCivil.nom is not empty %}
								<tr>
									<th>
										Etat civil
									</th>
									<td>
										{{ profil.etatCivil.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.relation.nom is not empty %}
								<tr>
									<th>
										Relation souhaitée
									</th>
									<td>
										{{ profil.relation.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.orientation.nom is not empty %}
								<tr>
									<th>
										Orientation
									</th>
									<td>
										{{ profil.orientation.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.emploi is not empty %}
								<tr>
									<th>
										Emploi
									</th>
									<td>
										{{ profil.emploi }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.departement.nom is not empty %}
								<tr>
									<th>
										Région / Département / Ville
									</th>
									<td>
										{{ profil.departement.region.nom }} / {{ profil.departement.nom }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.dateCreation is not empty %}
								<tr>
									<th>
										Membre depuis
									</th>
									<td>
										{{ profil.dateCreation|date("d/m/Y") }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.vues is not empty %}
								<tr>
									<th>
										Vues
									</th>
									<td>
										{{ profil.vues }}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.lastLogin is not empty %}
								<tr>
									<th>
										Dernière visite
									</th>
									<td>
										{{ profil.lastLogin|date("d/m/Y") }}
									</td>
								</tr>
                                {% endif %}
							</table>
						</div><br>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed">
								<tr>
									<th colspan="2" class="center">
										Style de vie
									</th>
								</tr>
                                {% if profil.hobbies is not empty %}
								<tr>
									<th style="width:40%">
										Hobbie(s)
									</th>
									<td style="width:60%">
                                        {% for hobbie in profil.hobbies %}
                                            {% if hobbie is not empty %}
                                                {{ hobbie }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.sports is not empty %}
								<tr>
									<th>
										sport(s) pratiqué(s)
									</th>
									<td>
                                        {% for sport in profil.sports %}
                                            {% if sport is not empty %}
                                                {{ sport }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.qualites is not empty %}
								<tr>
									<th>
										Qualité(s)
									</th>
									<td>
                                        {% for qualite in profil.qualites %}
                                            {% if qualite is not empty %}
                                                {{ qualite }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.defauts is not empty %}
								<tr>
									<th>
										défaut(s)
									</th>
									<td>
                                        {% for defaut in profil.defauts %}
                                            {% if defaut is not empty %}
                                                {{ defaut }}{% if loop.last == false %}, {% endif %}
                                            {% endif %}
                                        {% endfor %}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.cigarette.nom is not empty %}
								<tr>
									<th>
										Cigarettes?
									</th>
									<td>
                                        {% if profil.cigarette.nom is defined %}
                                            {{ profil.cigarette.nom }}
                                        {% endif %}
									</td>
								</tr>
                                {% endif %}
                                {% if profil.alcool.nom is not empty %}
								<tr>
									<th>
										Alcool?
									</th>
									<td>
                                        {% if profil.alcool.nom is defined %}
                                            {{ profil.alcool.nom }}
                                        {% endif %}
									</td>
								</tr>
                                {% endif %}
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	<!-- /.container -->
{% endblock %}	
{% block javascript%}
<script >

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    var favori;
    {% if favori == 0 %}
    favori = 0;
    {% else %}
    favori = 1;
    {% endif %}

    var bloquer;
    {% if bloquer == 0 %}
    bloquer = 0;
    {% else %}
    bloquer = 1;
    {% endif %}
	$(document).ready(function() {


        $( "#submitMessage" ).click(function(e) {


        e.preventDefault();

            var $btn = $( "#submitMessage" ).button('loading');
        $.ajax({
            type: $("[name='ptro_rencontresbundle_message']").attr('method'),
            url: $("[name='ptro_rencontresbundle_message']").attr('action'),
            data:  $("[name='ptro_rencontresbundle_message']").serialize()
        })
            .done(function (data) {
                if (typeof data.message !== 'undefined') {
                    $('#myModal').modal('hide');
                    $('#success_contenu').html('Votre message a été envoyé à {{ profil.username }}!');
                    $('#successModal').modal('show');
                    setTimeout(function() {
                        $('#successModal').modal('hide');
                        $('#success_contenu').html('');
                    }, 5000);
                    //alert(data.message);
                }
                $btn.button('reset');
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                if (typeof jqXHR.responseJSON !== 'undefined') {
                    for (var key in jqXHR.responseJSON.data) {
                        $('#'+key+'_error').html(jqXHR.responseJSON.data[key]);
                    }
                    //alert(jqXHR.responseJSON.message);
                } else {
                    alert(errorThrown);
                }
                $btn.button('reset');
            });
    });
        $( "#submitSignalement" ).click(function(e) {


            e.preventDefault();

            var $btn = $( "#submitSignalement" ).button('loading');
            $.ajax({
                type: $("[name='ptro_rencontresbundle_signalement']").attr('method'),
                url: $("[name='ptro_rencontresbundle_signalement']").attr('action'),
                data:  $("[name='ptro_rencontresbundle_signalement']").serialize()
            })
                .done(function (data) {
                    if (typeof data.message !== 'undefined') {
                        $('#myModalSignalement').modal('hide');
                        $('#success_contenu').html('Votre signalement a été envoyé au webmaster.');
                        $('#successModal').modal('show');
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                    $btn.button('reset');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON.data['message'] !== 'undefined') {
						$('#message_error').html(jqXHR.responseJSON.data['message']);
                    } else {
                        if (typeof jqXHR.responseJSON.message !== 'undefined') {
                            message = jqXHR.responseJSON.message;
                        }else{
                            message = errorThrown;
						}
                        $('#myModalSignalement').modal('hide');
                        $('#success_contenu').html( message );
                        $('#successModal').modal('show');
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                    }
                    $btn.button('reset');
                });
        });
		var form = "";
	});
	function pokeConfirm(){
		$('#confirmMessage').text('Voulez-vous envoyer un poke à {{profil.username}}?');
		$('#confirmModal').modal('show');
		form = "poke";
	}
	function favoriConfirm(){
	    if(favori == 0){
            $('#confirmMessage').text('Voulez-vous ajouter {{profil.username}} dans vos favoris?');
		}else{
            $('#confirmMessage').text('Voulez-vous enlever {{profil.username}} de vos favoris?');
		}
		$('#confirmModal').modal('show');
		form = "favori";
	}
	function signalerConfirm(){
		$('#confirmMessage').text('Voulez-vous signaler ce profil comme inapproprié au webmaster?');
		$('#confirmModal').modal('show');
		form = "signaler";
	}
	function bloquerConfirm(){
        if(bloquer == 0) {
            $('#confirmMessage').text('Voulez-vous bloquer ce profil? Il ne pourra plus vous voir et vous ne pourrez plus communiquer.');
        }else{
            $('#confirmMessage').text('Voulez-vous débloquer ce profil? Vous pourrez à nouveau vous voir et communiquer.');
		}
		$('#confirmModal').modal('show');
		form = "bloquer";
	}
	function confirm(){
        var $btn = $( "#submitAutreActions" ).button('loading');
        if (form == "poke") {
            url_action = "{{ path('ptro_rencontres_poke_ajax') }}";
            message_succes_poke = 'Votre poke a été envoyé à {{ profil.username }}!';
            message_error_poke = 'Vous avez déjà envoyé un poke à {{ profil.username }} aujourd\'hui. Un poke par jour et par personne maximum.';
            $.ajax({
                type: "POST",
                url: url_action,
                data:  {'id_receveur': {{ profil.id }} }
            })
                .done(function (data) {
                    if (data.data == 'Envoye') {
                        $('#confirmModal').modal('hide');
                        $('#success_contenu').html( message_succes_poke );
                        $('#successModal').modal('show');
                        favori = 1;
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                    $btn.button('reset');
                    if (data.data == 'DejaEnvoyeAujourdhui') {
                        $('#confirmModal').modal('hide');
                        $('#success_contenu').html( message_error_poke );
                        $('#successModal').modal('show');
                        favori = 1;
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        message = jqXHR.responseJSON.message;
                    } else {
                        message = errorThrown;
                    }
                    $('#confirmModal').modal('hide');
                    $('#success_contenu').html( message );
                    $('#successModal').modal('show');
                    setTimeout(function() {
                        $('#successModal').modal('hide');
                        $('#success_contenu').html('');
                    }, 5000);

                    $btn.button('reset');
                });
        }
        if (form == "favori") {
            url_action = "{{ path('ptro_rencontres_favori_ajax') }}";
            message_succes_ajout = '{{ profil.username }} est désormais dans vos favoris!';
            message_succes_enleve = '{{ profil.username }} n\'est plus dans vos favoris.';
            $.ajax({
                type: "POST",
                url: url_action,
                data:  {'id_receveur': {{ profil.id }} }
            })
                .done(function (data) {
                    if (data.data == 'Ajout') {
                        $('#confirmModal').modal('hide');
                        $('#success_contenu').html( message_succes_ajout );
                        $('#successModal').modal('show');
                        $('#favori_texte').html(' Enlever de vos favoris ');
                        favori = 1;
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                    if (data.data == 'Enleve') {
                        $('#confirmModal').modal('hide');
                        $('#success_contenu').html( message_succes_enleve );
                        $('#successModal').modal('show');
                        $('#favori_texte').html(' Ajouter à vos favoris ');
                        favori = 0;
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                    $btn.button('reset');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        message = jqXHR.responseJSON.message;
                    } else {
                        message = errorThrown;
                    }
                    $('#confirmModal').modal('hide');
                    $('#success_contenu').html( message );
                    $('#successModal').modal('show');
                    setTimeout(function() {
                        $('#successModal').modal('hide');
                        $('#success_contenu').html('');
                    }, 5000);

                    $btn.button('reset');
                });
        }
        if (form == "signaler") {
            url_action = "{{ path('ptro_rencontres_signaler_ajax') }}";
        }
        if (form == "bloquer") {
            url_action = "{{ path('ptro_rencontres_bloquer_ajax') }}";
            message_succes_blocage = 'Vous avez bloqué {{ profil.username }}.';
            message_succes_deblocage = '{{ profil.username }} n\'est plus bloquée. Ce profil peut vous voir et vous pouvez communiquer';
            $.ajax({
                type: "POST",
                url: url_action,
                data:  {'id_receveur': {{ profil.id }} }
            })
                .done(function (data) {
                    if (data.data == 'Ajout') {
                        $('#boutons_a_bloquer').css('display', 'none');
                        $('#confirmModal').modal('hide');
                        $('#success_contenu').html( message_succes_blocage );
                        $('#successModal').modal('show');
                        $('#blocage_texte').html(' Débloquer ce profil ');
                        bloquer = 1;
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                    if (data.data == 'Enleve') {
                        $('#boutons_a_bloquer').css('display', 'block');
                        $('#confirmModal').modal('hide');
                        $('#success_contenu').html( message_succes_deblocage );
                        $('#successModal').modal('show');
                        $('#blocage_texte').html(' Bloquer ce profil ');
                        bloquer = 0;
                        setTimeout(function() {
                            $('#successModal').modal('hide');
                            $('#success_contenu').html('');
                        }, 5000);
                        //alert(data.message);
                    }
                    $btn.button('reset');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        message = jqXHR.responseJSON.message;
                    } else {
                        message = errorThrown;
                    }
                    $('#confirmModal').modal('hide');
                    $('#success_contenu').html( message );
                    $('#successModal').modal('show');
                    setTimeout(function() {
                        $('#successModal').modal('hide');
                        $('#success_contenu').html('');
                    }, 5000);

                    $btn.button('reset');
                });
        }
	}
    {% endif %}
</script>
{% endblock %}	