{% extends "PTRORencontresBundle::layout.html.twig" %}

{% block contenu %}
		<div class="row center bottom3">
					<a class="btn btn-default {% if app.request.session.get("affichage") == 'vignette' %}active{% endif %}" href="{{ path('ptro_rencontres_homepage', { 'tri': tri, 'affichage': 'vignette' }) }}">Vue vignette</a>
					<a class="btn btn-default {% if app.request.session.get("affichage") == 'detail' %}active{% endif %}" href="{{ path('ptro_rencontres_homepage', { 'tri': tri, 'affichage': 'detail'  }) }}">Vue detail</a>
		</div>
        <div class="row" >
            <div class="col-md-offset-1 col-md-10">
    			<ul class="nav nav-tabs gris_decale onglets">
    					<li role="presentation" class="{% if tri == 'nouveau' %}active{% endif %}"><a href="{{ path('ptro_rencontres_homepage', { 'tri': 'nouveau', 'affichage': app.request.session.get("affichage") }) }}">Les nouveaux</a></li>
    					<li role="presentation" class="{% if tri == 'pres_vous' %}active{% endif %}"><a href="{{ path('ptro_rencontres_homepage', { 'tri': 'pres_vous', 'affichage': app.request.session.get("affichage") }) }}">Près de vous</a></li>
    					<li role="presentation" class="{% if tri == 'visite' %}active{% endif %}"><a href="{{ path('ptro_rencontres_homepage', { 'tri': 'visite', 'affichage': app.request.session.get("affichage") }) }}">Les + visités</a></li>
    			</ul>
            </div>
		</div>
		{% block vue %}
		{% endblock %}
		<nav class="center">
		  <ul class="pagination pagination-md">
			<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			<li><a href="#">2 </a></li>
			<li class="disabled"><a href="#">... </a></li>
			<li><a href="#">52 </a></li>
			<li><a href="#">53 </a></li>
			<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		  </ul>
		</nav>
		<br>
{% endblock %}